<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<sparxpres_payment>
				<active>1</active>
				<model>Sparxpres\Websale\Model\SparxpresPaymentMethod</model>
				<order_status>pending</order_status>
				<title>Sparxpres delbetaling</title>
				<instructions>Din ordre afsendes først efter godkendelse hos Sparxpres.
Følg anvisningerne på næste side.</instructions>
				<group>offline</group>
				<currency>DKK</currency>
				<min_order_total>2000.0</min_order_total>
				<!--can_initialize>0</can_initialize>
				<can_use_checkout>1</can_use_checkout>
				<can_authorize>1</can_authorize>
				<can_capture>0</can_capture>
				<can_capture_partial>0</can_capture_partial>
				<can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
				<can_refund>0</can_refund>
				<can_void>1</can_void>
				<can_cancel>1</can_cancel>
				<can_use_internal>0</can_use_internal>
				<is_gateway>1</is_gateway-->
				<sort_order>100</sort_order>
			</sparxpres_payment>
			<xprespay_payment>
				<active>1</active>
				<model>Sparxpres\Websale\Model\XpresPayPaymentMethod</model>
				<order_status>pending</order_status>
				<title>XpresPay</title>
				<instructions>Betal med din XpresPay kredit.
Følg anvisningerne på næste side.</instructions>
				<group>offline</group>
				<currency>DKK</currency>
				<min_order_total>1.0</min_order_total>
				<!--can_initialize>0</can_initialize>
				<can_use_checkout>1</can_use_checkout>
				<can_authorize>1</can_authorize>
				<can_capture>0</can_capture>
				<can_capture_partial>0</can_capture_partial>
				<can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
				<can_refund>0</can_refund>
				<can_void>1</can_void>
				<can_cancel>1</can_cancel>
				<can_use_internal>0</can_use_internal>
				<is_gateway>1</is_gateway-->
				<sort_order>110</sort_order>
			</xprespay_payment>
		</payment>
	</default>
</config>
