<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<sparxpres-payment>
				<active>1</active>
				<title>Sparxpres finansiering</title>
				<order_status>pending_payment</order_status>
				<instructions></instructions>
				<payment_action>true</payment_action>
				<model>Sparxpres\Websale\Model\PaymentMethod</model>
				<group>offline</group>
			</sparxpres-payment>
		</payment>
	</default>
</config>